.container-burger {  
  min-height: 100vh;
  max-height: 1024px;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  @media (min-width: 1335) {

}
}
  
.container-burger--hidden {
    display: none;
}  

.container-burger--absolute {
  position: absolute;
  top: 0;
  z-index: 5;
  max-width: 360px;
}

.container-header-nav {
  flex: 1 0 auto;
}

