.container-burger {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  min-height: 100vh;
  max-height: 1024px;
  max-width: 360px;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 
  16px 0px 52px rgba(14, 24, 80, 0.2);
  @media (max-width: 1335) {
    position: absolute;
    top: 0;
    left: -400px;
  }  
}

.container-header-nav {
  flex: 1 0 auto;
}