.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 85px;
  border-top: 1px solid $titleBorder;
  background-color: $mainBackground;
  font-size: 14px;
  color: $textGray;
  align-content: center;
  font-weight: 500;
  padding: 0 32px;
  @media (min-width: 768px) and (max-width: 1199px){
    padding: 0 24px;
  }
}
.footer-info:last-of-type {
  text-align: right;
}
