.header {
  display: flex;
  justify-content: space-between;
  height: 88px;
  align-items: center;
}

.header__menu-logo {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding-left: 24px;
}

.header__interaction {
  display: flex;
  gap: 16px;
  padding-right: 24px;
}

.header__menu-img {
  display: flex;
  justify-content: flex-end;
}

.button-title-desktop {
  display: flex;
  margin-left: auto;
  padding-right: 24px;
  gap: 32px;
}

.button-title-desktop__label {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #1b1c21;
  font-weight: 600;
  gap: 8px;
}
