.modal-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.modal--hidden {
  display: none;
  transition: all 0.2s;
}

.modal {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 440px;
  height: 100vh;
  padding: 32px;
  margin-left: auto;
  background: #ffffff;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
  position: relative;
  @media (max-width: 360px) {
    width: 100%;
  }
}

.modal-title {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  &::before {
    content: '';
    position: absolute;
    left: 0px;
    border-left: 4px solid $stripColor;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 32px;
    transition: 0.5s;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

.modal-form__field {
  box-sizing: border-box;
  margin-bottom: 16px;
  border: 1px solid $cardBorder;
  border-radius: 8px;
  height: 48px;
  &[placeholder] {
    padding: 12px 16px;
  }
  &:hover {
    border: 2px solid $textGray;
  }
}

.modal-form__field--xl {
  height: 118px;
}

.modal-agreement {
  font-size: 14px;
  line-height: 16px;
  color: $textGray;
  font-weight: 500;
  margin: 0;
  padding-bottom: 24px;
}

.modal-link {
  color: $pink;
  text-decoration: none;
  font-weight: 500;
}

.modal-link:hover {
  text-decoration: underline;
}

.button-submit {
  width: 136px;
  height: 32px;
  align-self: end;
}

.button-close--modal {
  position: absolute;
  left: -65px;
}
