.service-prices {
  border-top: 1px solid $titleBorder;
  padding-left: 32px;
  background-color: $mainBackground;
  @media (max-width: 767px) {
    padding-left: 16px;
  }
  @media (min-width: 768px) and (max-width: 1199px){
    padding-left: 24px
  }
}

.service-prices__title {
  @include block-title;
}

.prices-mobile {
  padding: 16px;
  padding-left: 0;
  @media (min-width: 767px) {
    display: none;
  }
}
.prices-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 260px;
  min-height: 200px;
  background-color: $white;
  margin-right: 16px;
  border-radius: 6px;
  padding: 16px;
  font-size: 14px;
line-height: 16px;
font-weight: 500;

}

.prices-card__string::first-line {
  color: $textGray;
  font-size: 14px;
  line-height: 16px;
}

.button-to-order--mobile {
  width: 119px;
  height: 32px;
}



.prices-card__string--wrapper {
  display: flex;
  justify-content: space-between;
}

.price__list {
  display: grid;
  padding-top: 8px;
  margin-bottom: 32px;
  @media (max-width: 767px) {
    display: none;
  }
}

.string-wrapper {
  display: grid;
  grid-template-columns: 50.7% 16.4% 16.4% 14.3%;
  column-gap: 5px;
  height: 64px;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
  border-bottom: 2px solid $cardBorder;
  font-size: 14px;
}
.string-wrapper:last-of-type {
  border-bottom: none;
}

.string-wrapper__column--button {
  justify-self: end;
}

.string-title {
  background-color: $mainBackground;
  border-bottom: none;
  color: $textGray;
  padding-right: 32px;
  @media (min-width: 768px) and (max-width: 1440px){
    padding-right: 24px;
  }
}

.button-to-order {
  width: 119px;
  height: 32px;
}

.string-content {
  background-color: $white;
  border-radius: 10px;
  margin-right: 32px;
  @media (min-width: 768px) and (max-width: 1440px){
    margin-right: 24px;
  }
}



.prices-info__text {
  max-width: 425px;
  font-size: 14px;
  margin: 0;

  @media (max-width: 767px) {
    padding-right: 17px;
    line-height: 20px;
  }
}

.prices-info__link {
  display: inline-block;
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 50px;
  @media (max-width: 767px) {
    padding-bottom: 40px;
    width: 192px;
  }
}

.prices-info__link:hover {
  color: $textGray;
}

.prices-info__img {
  padding-left: 10px;
  @media (max-width: 767px) {
    position: relative;
    left: -92px;
  }
}