.swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  height: 72px;
  width: 240px;
}

.swiper-pagination {
  margin-bottom: 14px;
}

.swiper-pagination-bullet {
  background-color: #dddddd;
  width: 12px;
  height: 12px;
  opacity: 1;
  margin: 0 6px;
}

.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
  opacity: 1;
}
