@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/../fonts/TTLakes-Italic.eot');
  src: local('../fonts/TT Lakes Italic'), local('../fonts/TTLakes-Italic'),
      url('../fonts/TTLakes-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes-Italic.woff') format('woff'),
      url('../fonts/TTLakes-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url('../fonts/TTLakesCondensed-ExtraLight.eot');
  src: local('../fonts/TT Lakes Condensed ExtraLight'), local('../fonts/TTLakesCondensed-ExtraLight'),
      url('../fonts/TTLakesCondensed-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCondensed-ExtraLight.woff') format('woff'),
      url('../fonts/TTLakesCondensed-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url('../fonts/TTLakesCompressed-Regular.eot');
  src: local('../fonts/TT Lakes Compressed Regular'), local('../fonts/TTLakesCompressed-Regular'),
      url('../fonts/TTLakesCompressed-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCompressed-Regular.woff') format('woff'),
      url('../fonts/TTLakesCompressed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url('../fonts/TTLakesCompressed-ThinItalic.eot');
  src: local('../fonts/TT Lakes Compressed Thin Italic'), local('../fonts/TTLakesCompressed-ThinItalic'),
      url('../fonts/TTLakesCompressed-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCompressed-ThinItalic.woff') format('woff'),
      url('../fonts/TTLakesCompressed-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url('../fonts/TTLakesCondensed-Medium.eot');
  src: local('../fonts/TT Lakes Condensed Medium'), local('../fonts/TTLakesCondensed-Medium'),
      url('../fonts/TTLakesCondensed-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCondensed-Medium.woff') format('woff'),
      url('../fonts/TTLakesCondensed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url('../fonts/TTLakesCompressed-ExtraBoldItalic.eot');
  src: local('../fonts/TT Lakes Compressed ExtraBold Italic'), local('../fonts/TTLakesCompressed-ExtraBoldItalic'),
      url('../fonts/TTLakesCompressed-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCompressed-ExtraBoldItalic.woff') format('woff'),
      url('../fonts/TTLakesCompressed-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-ExtraLightItalic.eot');
  src: local('../fonts/TT Lakes ExtraLight Italic'), local('../fonts/TTLakes-ExtraLightItalic'),
      url('../fonts/TTLakes-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes-ExtraLightItalic.woff') format('woff'),
      url('../fonts/TTLakes-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-LightItalic.eot');
  src: local('../fonts/TT Lakes Light Italic'), local('../fonts/TTLakes-LightItalic'),
      url('../fonts/TTLakes-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes-LightItalic.woff') format('woff'),
      url('../fonts/TTLakes-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Thin.eot');
  src: local('../fonts/TT Lakes Thin'), local('../fonts/TTLakes-Thin'),
      url('../fonts/TTLakes-Thin.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes-Thin.woff') format('woff'),
      url('../fonts/TTLakes-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-DemiBoldItalic.eot');
  src: local('../fonts/TT Lakes DemiBold Italic'), local('../fonts/TTLakes-DemiBoldItalic'),
      url('../fonts/TTLakes-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes-DemiBoldItalic.woff') format('woff'),
      url('../fonts/TTLakes-DemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url('../fonts/TTLakesCondensed-Black.eot');
  src: local('../fonts/TT Lakes Condensed Black'), local('../fonts/TTLakesCondensed-Black'),
      url('../fonts/TTLakesCondensed-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCondensed-Black.woff') format('woff'),
      url('../fonts/TTLakesCondensed-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url('../fonts/TTLakesCondensed-LightItalic.eot');
  src: local('../fonts/TT Lakes Condensed Light Italic'), local('../fonts/TTLakesCondensed-LightItalic'),
      url('../fonts/TTLakesCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCondensed-LightItalic.woff') format('woff'),
      url('../fonts/TTLakesCondensed-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url('../fonts/TTLakesCondensed-DemiBold.eot');
  src: local('../fonts/TT Lakes Condensed DemiBold'), local('../fonts/TTLakesCondensed-DemiBold'),
      url('../fonts/TTLakesCondensed-DemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCondensed-DemiBold.woff') format('woff'),
      url('../fonts/TTLakesCondensed-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url('../fonts/TTLakesCompressed-ExtraBold.eot');
  src: local('../fonts/TT Lakes Compressed ExtraBold'), local('../fonts/TTLakesCompressed-ExtraBold'),
      url('../fonts/TTLakesCompressed-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCompressed-ExtraBold.woff') format('woff'),
      url('../fonts/TTLakesCompressed-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-ExtraBoldItalic.eot');
  src: local('../fonts/TT Lakes ExtraBold Italic'), local('../fonts/TTLakes-ExtraBoldItalic'),
      url('../fonts/TTLakes-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes-ExtraBoldItalic.woff') format('woff'),
      url('../fonts/TTLakes-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-ExtraLight.eot');
  src: local('../fonts/TT Lakes ExtraLight'), local('../fonts/TTLakes-ExtraLight'),
      url('../fonts/TTLakes-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes-ExtraLight.woff') format('woff'),
      url('../fonts/TTLakes-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url('../fonts/TTLakesCondensed-Bold.eot');
  src: local('../fonts/TT Lakes Condensed Bold'), local('../fonts/TTLakesCondensed-Bold'),
      url('../fonts/TTLakesCondensed-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCondensed-Bold.woff') format('woff'),
      url('../fonts/TTLakesCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url('../fonts/TTLakesCondensed-ThinItalic.eot');
  src: local('../fonts/TT Lakes Condensed Thin Italic'), local('../fonts/TTLakesCondensed-ThinItalic'),
      url('../fonts/TTLakesCondensed-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCondensed-ThinItalic.woff') format('woff'),
      url('../fonts/TTLakesCondensed-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url('../fonts/TTLakesCondensed-ExtraBoldItalic.eot');
  src: local('../fonts/TT Lakes Condensed ExtraBold Italic'), local('../fonts/TTLakesCondensed-ExtraBoldItalic'),
      url('../fonts/TTLakesCondensed-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCondensed-ExtraBoldItalic.woff') format('woff'),
      url('../fonts/TTLakesCondensed-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url('../fonts/TTLakesCompressed-Medium.eot');
  src: local('../fonts/TT Lakes Compressed Medium'), local('../fonts/TTLakesCompressed-Medium'),
      url('../fonts/TTLakesCompressed-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCompressed-Medium.woff') format('woff'),
      url('../fonts/TTLakesCompressed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url('../fonts/TTLakesCondensed-Thin.eot');
  src: local('../fonts/TT Lakes Condensed Thin'), local('../fonts/TTLakesCondensed-Thin'),
      url('../fonts/TTLakesCondensed-Thin.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCondensed-Thin.woff') format('woff'),
      url('../fonts/TTLakesCondensed-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url('../fonts/TTLakesCompressed-Italic.eot');
  src: local('../fonts/TT Lakes Compressed Italic'), local('../fonts/TTLakesCompressed-Italic'),
      url('../fonts/TTLakesCompressed-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCompressed-Italic.woff') format('woff'),
      url('../fonts/TTLakesCompressed-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url('../fonts/TTLakesCompressed-Light.eot');
  src: local('../fonts/TT Lakes Compressed Light'), local('../fonts/TTLakesCompressed-Light'),
      url('../fonts/TTLakesCompressed-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCompressed-Light.woff') format('woff'),
      url('../fonts/TTLakesCompressed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url('../fonts/TTLakesCompressed-LightItalic.eot');
  src: local('../fonts/TT Lakes Compressed Light Italic'), local('../fonts/TTLakesCompressed-LightItalic'),
      url('../fonts/TTLakesCompressed-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCompressed-LightItalic.woff') format('woff'),
      url('../fonts/TTLakesCompressed-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url('../fonts/TTLakesCondensed-Regular.eot');
  src: local('../fonts/TT Lakes Condensed Regular'), local('../fonts/TTLakesCondensed-Regular'),
      url('../fonts/TTLakesCondensed-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCondensed-Regular.woff') format('woff'),
      url('../fonts/TTLakesCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url('../fonts/TTLakesCondensed-Light.eot');
  src: local('../fonts/TT Lakes Condensed Light'), local('../fonts/TTLakesCondensed-Light'),
      url('../fonts/TTLakesCondensed-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCondensed-Light.woff') format('woff'),
      url('../fonts/TTLakesCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Bold.eot');
  src: local('../fonts/TT Lakes Bold'), local('../fonts/TTLakes-Bold'),
      url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes-Bold.woff') format('woff'),
      url('../fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-DemiBold.eot');
  src: local('../fonts/TT Lakes DemiBold'), local('../fonts/TTLakes-DemiBold'),
      url('../fonts/TTLakes-DemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes-DemiBold.woff') format('woff'),
      url('../fonts/TTLakes-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url('../fonts/TTLakesCompressed-Thin.eot');
  src: local('../fonts/TT Lakes Compressed Thin'), local('../fonts/TTLakesCompressed-Thin'),
      url('../fonts/TTLakesCompressed-Thin.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCompressed-Thin.woff') format('woff'),
      url('../fonts/TTLakesCompressed-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Black.eot');
  src: local('../fonts/TT Lakes Black'), local('../fonts/TTLakes-Black'),
      url('../fonts/TTLakes-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes-Black.woff') format('woff'),
      url('../fonts/TTLakes-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-MediumItalic.eot');
  src: local('../fonts/TT Lakes Medium Italic'), local('../fonts/TTLakes-MediumItalic'),
      url('../fonts/TTLakes-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes-MediumItalic.woff') format('woff'),
      url('../fonts/TTLakes-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url('../fonts/TTLakesCondensed-ExtraBold.eot');
  src: local('../fonts/TT Lakes Condensed ExtraBold'), local('../fonts/TTLakesCondensed-ExtraBold'),
      url('../fonts/TTLakesCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCondensed-ExtraBold.woff') format('woff'),
      url('../fonts/TTLakesCondensed-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url('../fonts/TTLakesCondensed-ExtraLightItalic.eot');
  src: local('../fonts/TT Lakes Condensed ExtraLight Italic'), local('../fonts/TTLakesCondensed-ExtraLightItalic'),
      url('../fonts/TTLakesCondensed-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCondensed-ExtraLightItalic.woff') format('woff'),
      url('../fonts/TTLakesCondensed-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Medium.eot');
  src: local('../fonts/TT Lakes Medium'), local('../fonts/TTLakes-Medium'),
      url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes-Medium.woff') format('woff'),
      url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url('../fonts/TTLakesCondensed-DemiBoldItalic.eot');
  src: local('../fonts/TT Lakes Condensed DemiBold Italic'), local('../fonts/TTLakesCondensed-DemiBoldItalic'),
      url('../fonts/TTLakesCondensed-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCondensed-DemiBoldItalic.woff') format('woff'),
      url('../fonts/TTLakesCondensed-DemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url('../fonts/TTLakesCompressed-BoldItalic.eot');
  src: local('../fonts/TT Lakes Compressed Bold Italic'), local('../fonts/TTLakesCompressed-BoldItalic'),
      url('../fonts/TTLakesCompressed-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCompressed-BoldItalic.woff') format('woff'),
      url('../fonts/TTLakesCompressed-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url('../fonts/TTLakesCompressed-ExtraLightItalic.eot');
  src: local('../fonts/TT Lakes Compressed ExtraLight Italic'), local('../fonts/TTLakesCompressed-ExtraLightItalic'),
      url('../fonts/TTLakesCompressed-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCompressed-ExtraLightItalic.woff') format('woff'),
      url('../fonts/TTLakesCompressed-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Regular.eot');
  src: local('../fonts/TT Lakes Regular'), local('../fonts/TTLakes-Regular'),
      url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes-Regular.woff') format('woff'),
      url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-BoldItalic.eot');
  src: local('../fonts/TT Lakes Bold Italic'), local('../fonts/TTLakes-BoldItalic'),
      url('../fonts/TTLakes-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes-BoldItalic.woff') format('woff'),
      url('../fonts/TTLakes-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url('../fonts/TTLakesCondensed-MediumItalic.eot');
  src: local('../fonts/TT Lakes Condensed Medium Italic'), local('../fonts/TTLakesCondensed-MediumItalic'),
      url('../fonts/TTLakesCondensed-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCondensed-MediumItalic.woff') format('woff'),
      url('../fonts/TTLakesCondensed-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url('../fonts/TTLakesCondensed-Italic.eot');
  src: local('../fonts/TT Lakes Condensed Italic'), local('../fonts/TTLakesCondensed-Italic'),
      url('../fonts/TTLakesCondensed-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCondensed-Italic.woff') format('woff'),
      url('../fonts/TTLakesCondensed-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-ThinItalic.eot');
  src: local('../fonts/TT Lakes Thin Italic'), local('../fonts/TTLakes-ThinItalic'),
      url('../fonts/TTLakes-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes-ThinItalic.woff') format('woff'),
      url('../fonts/TTLakes-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url('../fonts/TTLakesCompressed-DemiBold.eot');
  src: local('../fonts/TT Lakes Compressed DemiBold'), local('../fonts/TTLakesCompressed-DemiBold'),
      url('../fonts/TTLakesCompressed-DemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCompressed-DemiBold.woff') format('woff'),
      url('../fonts/TTLakesCompressed-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-BlackItalic.eot');
  src: local('../fonts/TT Lakes Black Italic'), local('../fonts/TTLakes-BlackItalic'),
      url('../fonts/TTLakes-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes-BlackItalic.woff') format('woff'),
      url('../fonts/TTLakes-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url('../fonts/TTLakesCompressed-Bold.eot');
  src: local('../fonts/TT Lakes Compressed Bold'), local('../fonts/TTLakesCompressed-Bold'),
      url('../fonts/TTLakesCompressed-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCompressed-Bold.woff') format('woff'),
      url('../fonts/TTLakesCompressed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url('../fonts/TTLakesCondensed-BlackItalic.eot');
  src: local('../fonts/TT Lakes Condensed Black Italic'), local('../fonts/TTLakesCondensed-BlackItalic'),
      url('../fonts/TTLakesCondensed-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCondensed-BlackItalic.woff') format('woff'),
      url('../fonts/TTLakesCondensed-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url('../fonts/TTLakesCompressed-MediumItalic.eot');
  src: local('../fonts/TT Lakes Compressed Medium Italic'), local('../fonts/TTLakesCompressed-MediumItalic'),
      url('../fonts/TTLakesCompressed-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCompressed-MediumItalic.woff') format('woff'),
      url('../fonts/TTLakesCompressed-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url('../fonts/TTLakesCondensed-BoldItalic.eot');
  src: local('../fonts/TT Lakes Condensed Bold Italic'), local('../fonts/TTLakesCondensed-BoldItalic'),
      url('../fonts/TTLakesCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCondensed-BoldItalic.woff') format('woff'),
      url('../fonts/TTLakesCondensed-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url('../fonts/TTLakesCompressed-ExtraLight.eot');
  src: local('../fonts/TT Lakes Compressed ExtraLight'), local('../fonts/TTLakesCompressed-ExtraLight'),
      url('../fonts/TTLakesCompressed-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCompressed-ExtraLight.woff') format('woff'),
      url('../fonts/TTLakesCompressed-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-ExtraBold.eot');
  src: local('../fonts/TT Lakes ExtraBold'), local('../fonts/TTLakes-ExtraBold'),
      url('../fonts/TTLakes-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes-ExtraBold.woff') format('woff'),
      url('../fonts/TTLakes-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url('../fonts/TTLakesCompressed-DemiBoldItalic.eot');
  src: local('../fonts/TT Lakes Compressed DemiBold Italic'), local('../fonts/TTLakesCompressed-DemiBoldItalic'),
      url('../fonts/TTLakesCompressed-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCompressed-DemiBoldItalic.woff') format('woff'),
      url('../fonts/TTLakesCompressed-DemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url('../fonts/TTLakesCompressed-BlackItalic.eot');
  src: local('../fonts/TT Lakes Compressed Black Italic'), local('../fonts/TTLakesCompressed-BlackItalic'),
      url('../fonts/TTLakesCompressed-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCompressed-BlackItalic.woff') format('woff'),
      url('../fonts/TTLakesCompressed-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Light.eot');
  src: local('../fonts/TT Lakes Light'), local('../fonts/TTLakes-Light'),
      url('../fonts/TTLakes-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes-Light.woff') format('woff'),
      url('../fonts/TTLakes-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url('../fonts/TTLakesCompressed-Black.eot');
  src: local('../fonts/TT Lakes Compressed Black'), local('../fonts/TTLakesCompressed-Black'),
      url('../fonts/TTLakesCompressed-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCompressed-Black.woff') format('woff'),
      url('../fonts/TTLakesCompressed-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


