@mixin block-title {
  box-sizing: border-box;
  height: 100%;
  background: linear-gradient(-270deg, #f8f8f8 0%, #ffffff 98.61%);
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #7e7e82;
  font-weight: 500;
  margin: 0;
  padding: 16px 0;

}
