@import '../../node_modules/normalize.css/normalize.css';
@import 'swiper-bundle.min.scss';
@import 'fonts.scss';
@import 'variables.scss';
@import 'mixins.scss';
@import '../blocks/main-page.scss';
@import '../blocks/container-burger.scss';
@import '../blocks/header-burger.scss';
@import '../blocks/nav-burger.scss';
@import '../blocks/footer-burger.scss';
@import '../blocks/header.scss';
@import '../blocks/main.scss';
@import '../blocks/swiper.scss';
@import '../blocks/repair-brands.scss';
@import '../blocks/repair-type.scss';



