$white: #ffffff;
$mainBackground: #f8f8f8;
$cardBorder: #eaeaea;
$pagination: #dddddd;
$paginationActive: #b5b6bc;
$textGray: #7e7e82;
$textColor: #1b1c21;
$btnBorder: #b8ffec;
$stripColor: #41f6d7;
$titleBorder: #d9fff5;
$pink: #FF3E79;
